body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: #2c2e3e;
    color: #acc2d9;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 40px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #34374c;
    border: 2px solid #acc2d9;
    border-radius: 20px;
    color: #acc2d9;
    font-size: 16px;
}

button {
    background: #ee2b47;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background: #f8dd8b;
}

.movie-card {
    background: #34374c;
    padding: 20px;
    border-radius: 20px;
}

.movie-rating-bar {
    height: 80px;
    width: 18px;
    background: gold;
    margin-right: 5px;
}

.review-box {
    background: #2c2e3e;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
}





