body {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* centers vertically */
    align-items: center;       /* centers horizontally */
    height: 100vh;             /* full window height */
    margin: 0;
    text-align: center
    font-family: Helvetica, sans-serif;
    background: #2c2e3e;
    color: #acc2d9;
    margin: 0;
    padding: 20px;
}

input {
    margin: 6px 0;
    color: #acc2d9;
    background: #34374c;
    border: 2px solid #acc2d9;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    margin-bottom: 14px;
}

label, p, h1, h2, h3 {
    color: #ffffff;
    margin: 6px 0;
}

button {
    margin: 6px 0;
    background-color: #ee2b47;
    color: white;
    border: none;
    padding: 10px 18px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #f8dd8b;
    color: black;
}
