body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: #2c2e3e;
    color: #acc2d9;
}

/* Containers */
.page {
    display: none;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.page.active {
    display: block;
}

/* Text fields */
input[type="text"], input[type="password"], input[type="email"], input[type="date"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 20px;
    border: 2px solid #acc2d9;
    background: #34374c;
    color: #acc2d9;
}

/* Buttons */
button {
    background: #ee2b47;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background: #f8dd8b;
}

/* Movie Card */
.movie-container {
    background: #34374c;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    color: white;
}

.rating-bar {
    display: flex;
    gap: 8px;
}

.rating-bar div {
    width: 20px;
    height: 80px;
    background: gold;
}

.review {
    background: #2c2e3e;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}




