body {
    font-family: Helvetica, sans-serif;
    background: #2c2e3e;
    color: #acc2d9; /* default text color */
    margin: 0;
    padding: 20px;
}

input {
    color: #acc2d9;
    background: #34374c;
    border: 2px solid #acc2d9;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    margin-bottom: 14px;
}

/* Placeholder text color */
input::placeholder {
    color: #acc2d9;
    opacity: 1; /* ensures color is solid */
}

label, p, h1, h2, h3 {
    color: #acc2d9; /* text outside buttons */
}

button {
    background-color: #ee2b47;
    color: white;
    border: none;
    padding: 10px 18px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #f8dd8b;
    color: black;
}

/* Calendar icon color for date inputs */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(94%) contrast(91%);
    cursor: pointer;
}


